@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}
body {
    background-color: #0F0F0F; /* Dark charcoal background */
    color: #ffffff;           /* White text for contrast */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif; /* Optional: clean modern font */
}


*{
    font-family: Anton;
    
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  